<!DOCTYPE html>
<html>
<head>
    <title>Prediction App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Pycaret App</h1>
    <form action="/predict" method="POST">
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="sex">Sex:</label><br>
        <input type="text" id="sex" name="sex"><br>
        <label for="bmi">BMI:</label><br>
        <input type="number" id="bmi" name="bmi"><br>
        <label for="children">Children:</label><br>
        <input type="number" id="children" name="children"><br>
        <label for="smoker">Smoker:</label><br>
        <input type="text" id="smoker" name="smoker"><br>
        <label for="region">Region:</label><br>
        <input type="text" id="region" name="region"><br>
        <input type="submit" value="Predict">
    </form>

    <script>
        document.querySelector('input[type="submit"]').addEventListener('mouseover', function() {
            this.style.animation = 'pulse  1s infinite';
        });

        document.querySelector('input[type="submit"]').addEventListener('mouseout', function() {
            this.style.animation = '';
        });

        // Define the @keyframes for the pulse animation
        document.head.insertAdjacentHTML('beforeend', `
            <style>
                @keyframes pulse {
                    0% { transform: scale(1); }
                    50% { transform: scale(1.05); }
                    100% { transform: scale(1); }
                }
            </style>
        `);
    </script>
</body>
</html>