<!DOCTYPE html>
<html>
<head>
    <title>Prediction App</title>
</head>
<body>
    <h1>Prediction App</h1>
    <form action="/predict" method="POST">
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="sex">Sex:</label><br>
        <input type="text" id="sex" name="sex"><br>
        <label for="bmi">BMI:</label><br>
        <input type="number" id="bmi" name="bmi"><br>
        <label for="children">Children:</label><br>
        <input type="number" id="children" name="children"><br>
        <label for="smoker">Smoker:</label><br>
        <input type="text" id="smoker" name="smoker"><br>
        <label for="region">Region:</label><br>
        <input type="text" id="region" name="region"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
