/* main.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4B0082, #FF69B4, #FFFFFF, #87CEFA); /* Gradient background */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: white;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    color: #4B0082;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4B0082;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #FF69B4; /* Hover effect */
}